@tailwind base;
@tailwind components;
@font-face {
    font-family: beirut;
    src: url(./assets/fonts/Beirut.ttc);
}
@font-face {
    font-family: plantain;
    src: url(./assets/fonts/Plantain\ Stencil.otf);
}
.menu-animate{
    @apply hover:cursor-pointer hover:-translate-y-[2px] duration-100 hover:bg-gray-300 px-[15px] py-[5px] rounded-md
}
.fcard{
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%237BC47FFF' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}

@tailwind utilities;